<html>
  <head>
    <title>Add2val Calculator App</title>
  </head>
  <body>
    <header>
      <h1>Sample Addition Calculator App</h1>
    </header>
    <main>
      <form method="post">
        <div class="container">
          <label for="num1">Number 1: </label>
          <input
            type="number"
            class="sample-app"
            name="num1"
            id="num1"
            required
          />
        </div>
        <div class="container">
          <label for="num2">Number 2:</label>
          <input
            type="number"
            class="sample-app"
            name="num2"
            id="num2"
            required
          />
        </div>
        <button type="submit">Calculate</button>
      </form>
      <p>Result: {{result}}</p>
    </main>
    <footer>
      <p>
        This is a non commercial project, which is forked from
        simple-python-pyinstaller-app
      </p>
      <p>
        You can find the original repository on this link:
        <a>https://github.com/jenkins-docs/simple-python-pyinstaller-app</a>
        <p>Anthony Kevin Oktavius - 2301862866</p>
      </p>
    </footer>
  </body>
</html>
